*
{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    text-align: center;
}

div{
    border: 1px solid white;
    width: 10px;
    background-color: rgb(255, 0, 230);
    animation-name: sound;
    animation-duration: 5s;
    animation-iteration-count: 10;

}

section div:nth-child(1)
{
    animation-duration: 0.5s;
    background-color: aqua;
}

section div:nth-child(2)
{
    animation-duration: 0.3s;  
    background-color: blanchedalmond;
}


section div:nth-child(3)
{
    animation-duration: 0.2s;
    background-color: rgb(0, 255, 4);
}


section div:nth-child(4)
{
    animation-duration: 0.9s;
    background-color: rgb(251, 191, 12);
}


section div:nth-child(5)
{
    animation-duration: 0.7s;
    background-color: rgb(131, 10, 237);
}


section div:nth-child(6)
{
    animation-duration: 0.5s;
    background-color: rgb(14, 197, 248);
}


section div:nth-child(7)
{
    animation-duration: 1.5s;
    background-color: rgb(225, 27, 13);
}


section div:nth-child(8)
{
    animation-duration: 0.2s;
    background-color:rgb(4, 192, 148);
}


section div:nth-child(9)
{
    animation-duration: 0.6s;
    background-color: rgb(227, 227, 15);
}


section div:nth-child(10)
{
    animation-duration: 0.3s;
    background-color: aqua;
}

section div:nth-child(11)
{
    animation-duration: 0.5s;
     background-color: blanchedalmond;
}

section div:nth-child(12)
{
    animation-duration: 0.3s;
    background-color: aqua; 
}


section div:nth-child(13)
{
    animation-duration: 0.2s;
    background-color: rgb(251, 191, 12);
}


section div:nth-child(14)
{
    animation-duration: 0.9s;
     background-color: rgb(0, 255, 4);
}


section div:nth-child(15)
{
    animation-duration: 0.7s;
     background-color: rgb(251, 191, 12);
}


section div:nth-child(16)
{
    animation-duration: 0.5s;
   background-color: rgb(225, 27, 13);
}


section div:nth-child(17)
{
    animation-duration: 1.5s;
   background-color:rgb(4, 192, 148);
}


section div:nth-child(18)
{
    animation-duration: 0.2s;
     background-color: rgb(14, 197, 248);
}


section div:nth-child(19)
{
    animation-duration: 0.6s;
        background-color: aqua;
}


section div:nth-child(20)
{
    animation-duration: 0.3s;
     background-color: rgb(227, 227, 15);
}


@keyframes sound
{
    0% 
    {
        height: 400px;
    }
    25%
    {
        height: 250px;
    }
    50%
    {
        height: 150px;
    }
    75%
    {
        height: 250px;
    }
    100%
    {
        height: 100px;
    }

}
section{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 650px;
    width: 70%;
    margin: 0 auto;
}